@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body {
	background: url(https://previews.123rf.com/images/idmanjoe/idmanjoe1508/idmanjoe150800192/43657536-ate-tinte-patr%C3%B3n-tejido-cerca-de-fondo-.jpg);

}
h3{
	font-family: 'Roboto', sans-serif;
    margin-top: 50px;
}
h3 a {
	color: white;
	font-weight: bold;
	font-size: 45px;
}
.menu{
	background: black;
}
.menu li{
	
	display:inline-block;
	margin: 30px;
	 font-size: 27px ;
	 font-weight: bold;

}
.menu li a {
	color: yellow;
}
.Rsociales li{
    display: inline-block;

}
.one {
	background: #39ff14 ;
}
p{
	font-size: 25px;
	font-style: ;
	font-weight: bold;
}